.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.935000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.956000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.956000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.951000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.454000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.956000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.320707,0.000000,0.000000,0.320707,0,0);-ms-transform:matrix(0.320707,0.000000,0.000000,0.320707,0,0);-webkit-transform:matrix(0.320707,0.000000,0.000000,0.320707,0,0);}
.m1{transform:matrix(1.282828,0.000000,0.000000,1.282828,0,0);-ms-transform:matrix(1.282828,0.000000,0.000000,1.282828,0,0);-webkit-transform:matrix(1.282828,0.000000,0.000000,1.282828,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._c{margin-left:-3.899264px;}
._1{margin-left:-2.875304px;}
._0{margin-left:-1.090632px;}
._a{width:1.833118px;}
._e{width:6.854269px;}
._3{width:7.940578px;}
._5{width:9.046041px;}
._4{width:10.177723px;}
._16{width:15.023601px;}
._2{width:19.829680px;}
._1b{width:21.817628px;}
._15{width:25.893397px;}
._13{width:29.162881px;}
._f{width:31.028576px;}
._14{width:97.619794px;}
._12{width:140.305647px;}
._11{width:146.451205px;}
._10{width:209.997922px;}
._19{width:1103.241880px;}
._18{width:1113.355147px;}
._1a{width:1124.498587px;}
._b{width:1280.028533px;}
._9{width:1320.236541px;}
._8{width:1359.099335px;}
._17{width:1364.106498px;}
._7{width:1413.033270px;}
._d{width:1415.292774px;}
._6{width:1444.635890px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:23.910400px;}
.fs3{font-size:39.850400px;}
.fs1{font-size:43.636400px;}
.fs2{font-size:47.820800px;}
.fs0{font-size:99.148400px;}
.y42{bottom:92.861348px;}
.y41{bottom:108.197556px;}
.y40{bottom:109.565050px;}
.y3f{bottom:128.647115px;}
.y3e{bottom:130.013327px;}
.y3d{bottom:149.095393px;}
.y3c{bottom:150.461604px;}
.y3b{bottom:169.543670px;}
.y3a{bottom:170.909881px;}
.y39{bottom:189.991947px;}
.y38{bottom:205.328155px;}
.y37{bottom:206.695649px;}
.y36{bottom:230.199622px;}
.y35{bottom:245.535830px;}
.y34{bottom:270.457328px;}
.y33{bottom:285.793536px;}
.y32{bottom:287.161031px;}
.y31{bottom:306.241813px;}
.y30{bottom:307.609308px;}
.y2f{bottom:326.691373px;}
.y2e{bottom:328.057585px;}
.y2d{bottom:347.139650px;}
.y2c{bottom:348.505862px;}
.y2b{bottom:367.587927px;}
.y2a{bottom:382.924135px;}
.y29{bottom:384.291630px;}
.y28{bottom:407.795603px;}
.y27{bottom:423.131811px;}
.y26{bottom:448.053309px;}
.y25{bottom:449.419520px;}
.y24{bottom:468.501586px;}
.y23{bottom:483.837794px;}
.y22{bottom:485.205288px;}
.y21{bottom:504.287353px;}
.y20{bottom:519.623561px;}
.y1f{bottom:520.989773px;}
.y1e{bottom:540.071838px;}
.y1d{bottom:555.408046px;}
.y1c{bottom:556.775541px;}
.y1b{bottom:575.856323px;}
.y1a{bottom:591.193814px;}
.y19{bottom:592.560026px;}
.y18{bottom:611.642091px;}
.y17{bottom:626.978299px;}
.y16{bottom:628.344511px;}
.y43{bottom:637.565478px;}
.y54{bottom:640.308164px;}
.y15{bottom:647.426576px;}
.y14{bottom:662.762784px;}
.y13{bottom:664.130278px;}
.y53{bottom:668.952428px;}
.y12{bottom:683.212344px;}
.y11{bottom:698.548551px;}
.y10{bottom:699.914763px;}
.y52{bottom:708.445569px;}
.yf{bottom:718.996829px;}
.y51{bottom:723.781777px;}
.ye{bottom:734.333036px;}
.yd{bottom:735.700531px;}
.y50{bottom:748.064426px;}
.yc{bottom:759.204504px;}
.y4f{bottom:763.400634px;}
.yb{bottom:774.540712px;}
.y4e{bottom:793.874212px;}
.y0{bottom:799.201796px;}
.ya{bottom:805.013006px;}
.y4d{bottom:830.810676px;}
.y9{bottom:843.994299px;}
.y4c{bottom:846.146884px;}
.y8{bottom:859.330506px;}
.y4b{bottom:866.595161px;}
.y7{bottom:874.666714px;}
.y4a{bottom:887.043438px;}
.y6{bottom:890.004205px;}
.y5{bottom:905.340413px;}
.y49{bottom:907.492998px;}
.y4{bottom:920.676620px;}
.y48{bottom:927.941275px;}
.y47{bottom:948.389552px;}
.y3{bottom:949.322168px;}
.y46{bottom:968.837829px;}
.y45{bottom:989.286106px;}
.y2{bottom:989.428500px;}
.y1{bottom:1010.351424px;}
.y44{bottom:1019.759684px;}
.h7{height:11.405261px;}
.h9{height:28.931390px;}
.h6{height:29.130642px;}
.h5{height:29.170493px;}
.h3{height:32.727300px;}
.h4{height:35.004826px;}
.h2{height:71.981738px;}
.h1{height:188.575705px;}
.h8{height:377.151409px;}
.h0{height:1080.000000px;}
.w2{width:671.560418px;}
.w1{width:672.201832px;}
.w0{width:763.636675px;}
.x0{left:45.540391px;}
.x1{left:60.036347px;}
.x5{left:70.273314px;}
.x2{left:78.927271px;}
.x3{left:90.824217px;}
.x4{left:158.644764px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._c{margin-left:-4.052780pt;}
._1{margin-left:-2.988505pt;}
._0{margin-left:-1.133571pt;}
._a{width:1.905289pt;}
._e{width:7.124124pt;}
._3{width:8.253201pt;}
._5{width:9.402187pt;}
._4{width:10.578424pt;}
._16{width:15.615086pt;}
._2{width:20.610382pt;}
._1b{width:22.676596pt;}
._15{width:26.912830pt;}
._13{width:30.311035pt;}
._f{width:32.250182pt;}
._14{width:101.463121pt;}
._12{width:145.829532pt;}
._11{width:152.217043pt;}
._10{width:218.265618pt;}
._19{width:1146.676921pt;}
._18{width:1157.188351pt;}
._1a{width:1168.770513pt;}
._b{width:1330.423730pt;}
._9{width:1372.214742pt;}
._8{width:1412.607579pt;}
._17{width:1417.811876pt;}
._7{width:1468.664913pt;}
._d{width:1471.013375pt;}
._6{width:1501.511740pt;}
.fs4{font-size:24.851761pt;}
.fs3{font-size:41.419325pt;}
.fs1{font-size:45.354381pt;}
.fs2{font-size:49.703523pt;}
.fs0{font-size:103.051909pt;}
.y42{bottom:96.517333pt;}
.y41{bottom:112.457333pt;}
.y40{bottom:113.878667pt;}
.y3f{bottom:133.712000pt;}
.y3e{bottom:135.132000pt;}
.y3d{bottom:154.965333pt;}
.y3c{bottom:156.385333pt;}
.y3b{bottom:176.218667pt;}
.y3a{bottom:177.638667pt;}
.y39{bottom:197.472000pt;}
.y38{bottom:213.412000pt;}
.y37{bottom:214.833333pt;}
.y36{bottom:239.262667pt;}
.y35{bottom:255.202667pt;}
.y34{bottom:281.105333pt;}
.y33{bottom:297.045333pt;}
.y32{bottom:298.466667pt;}
.y31{bottom:318.298667pt;}
.y30{bottom:319.720000pt;}
.y2f{bottom:339.553333pt;}
.y2e{bottom:340.973333pt;}
.y2d{bottom:360.806667pt;}
.y2c{bottom:362.226667pt;}
.y2b{bottom:382.060000pt;}
.y2a{bottom:398.000000pt;}
.y29{bottom:399.421333pt;}
.y28{bottom:423.850667pt;}
.y27{bottom:439.790667pt;}
.y26{bottom:465.693333pt;}
.y25{bottom:467.113333pt;}
.y24{bottom:486.946667pt;}
.y23{bottom:502.886667pt;}
.y22{bottom:504.308000pt;}
.y21{bottom:524.141333pt;}
.y20{bottom:540.081333pt;}
.y1f{bottom:541.501333pt;}
.y1e{bottom:561.334667pt;}
.y1d{bottom:577.274667pt;}
.y1c{bottom:578.696000pt;}
.y1b{bottom:598.528000pt;}
.y1a{bottom:614.469333pt;}
.y19{bottom:615.889333pt;}
.y18{bottom:635.722667pt;}
.y17{bottom:651.662667pt;}
.y16{bottom:653.082667pt;}
.y43{bottom:662.666667pt;}
.y54{bottom:665.517333pt;}
.y15{bottom:672.916000pt;}
.y14{bottom:688.856000pt;}
.y13{bottom:690.277333pt;}
.y53{bottom:695.289333pt;}
.y12{bottom:710.110667pt;}
.y11{bottom:726.050667pt;}
.y10{bottom:727.470667pt;}
.y52{bottom:736.337333pt;}
.yf{bottom:747.304000pt;}
.y51{bottom:752.277333pt;}
.ye{bottom:763.244000pt;}
.yd{bottom:764.665333pt;}
.y50{bottom:777.516000pt;}
.yc{bottom:789.094667pt;}
.y4f{bottom:793.456000pt;}
.yb{bottom:805.034667pt;}
.y4e{bottom:825.129333pt;}
.y0{bottom:830.666667pt;}
.ya{bottom:836.706667pt;}
.y4d{bottom:863.520000pt;}
.y9{bottom:877.222667pt;}
.y4c{bottom:879.460000pt;}
.y8{bottom:893.162667pt;}
.y4b{bottom:900.713333pt;}
.y7{bottom:909.102667pt;}
.y4a{bottom:921.966667pt;}
.y6{bottom:925.044000pt;}
.y5{bottom:940.984000pt;}
.y49{bottom:943.221333pt;}
.y4{bottom:956.924000pt;}
.y48{bottom:964.474667pt;}
.y47{bottom:985.728000pt;}
.y3{bottom:986.697333pt;}
.y46{bottom:1006.981333pt;}
.y45{bottom:1028.234667pt;}
.y2{bottom:1028.382667pt;}
.y1{bottom:1050.129333pt;}
.y44{bottom:1059.908000pt;}
.h7{height:11.854290pt;}
.h9{height:30.070430pt;}
.h6{height:30.277527pt;}
.h5{height:30.318946pt;}
.h3{height:34.015786pt;}
.h4{height:36.382979pt;}
.h2{height:74.815686pt;}
.h1{height:196.000000pt;}
.h8{height:392.000000pt;}
.h0{height:1122.520000pt;}
.w2{width:698.000000pt;}
.w1{width:698.666667pt;}
.w0{width:793.701333pt;}
.x0{left:47.333333pt;}
.x1{left:62.400000pt;}
.x5{left:73.040000pt;}
.x2{left:82.034667pt;}
.x3{left:94.400000pt;}
.x4{left:164.890667pt;}
}
